html, body {
    margin: 0;
    padding: 0;
}

.item1 { grid-area: header; }
.item2 { grid-area: meny; }
.item3 { grid-area: main; }
.item4 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        'header  header  header  header   header   header'
        'meny meny meny meny meny meny'
        'main   main    main    main     main     main' 
        'footer  footer  footer  footer   footer   footer';
}

#tittel {
    font-size: 2rem;
}

.grid-container > div { /* Alle barna til div-containeren av typen div */
    font-size: 1.5rem;
    padding: 1rem;
}

.item1 { /* header */
    background: linear-gradient(270deg, #000000, #a09f9f);
    color: white;
    text-align: center;

    /* Bruker flexbox for å plassere bildet/logoen og teksten i midten av headeren */
    display: flex;
    justify-content: center;
    align-items: center;

}

.item2 {
}

.item3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flyt {
    float: left;
}

/* Menyen sitt design */
nav ul{
    list-style:none;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}

nav ul li a{
    text-decoration: none;
    background-color: grey;
    color:rgb(0, 0, 0);
    padding:1.5rem;
    display: block;
}

/* Endrar bakgrunnsfargen på menyen når ein tek muspeikar over. */
nav ul li a:hover{
    background-color:#815521;
    color: white;
}

/* For mobil, eller portrerttmodus, med låg oppløysing */
@media screen and (max-width: 800px) {
    /* Når skjermstørrelsen blir  */
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            'header'
            'meny'
            'main'
            'footer';
    }

    /* 
        Endrer menyen sitt design for mobil.
        Menyelementene ligg ikkje lenger under kvarandre
        (frå column til row). I tillegg så midtstiller
        eg elementa i menyen.
    */
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    /* Når skjermen er liten, så vil biletet i main ta heile bredda. */
    .flyt {
        float: none;
        display: block;
        max-width: 100%;
        width: 100%;
        justify-content: center;
    }

    /* Skriftstørrelsen i header blir mindre på mobil. */
    #tittel {
        font-size: 1rem;
    }
}

h1 {
    text-align: center;
}

.centered-text {
    text-align: center;
}

#secondheader {
    text-align: center;
}

.item3 {
    flex-direction: column;
}

