html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.navbar {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.navbar li {
    text-align: center;
    flex-grow: 1;
    background-color: lightgray;
    color: black;
    padding: 20px;
}

.navbar li a {
    text-decoration: none;
}

