html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    flex-grow: 1;
    flex-direction: column;
}

main {
    background-color: darkgray;
    padding: 25px;
}

#knappSend {
    height: 50px;
    width: 80px;
}



.lexend-bold {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


