html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    height: 10%;
    width: 10%;
}

#rockPaperScissors {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}